.c-item{
    height: 480px;
    width: 960px;
    margin-left: auto;
    margin-right: 0;
}

.c-img{
    height: 100%;
    object-fit: cover;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(225, 224, 224, 0.704);
}

.carousel-indicators{
    display: block;
    text-align: right;
}

table{
    border: 1px solid;
}

td{
    padding: 5px;
}